<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>co.liuwei.alfred.jsonview</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>04226EA8-2DEB-41F9-B5D1-A22FEF07982F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>67B5F8BB-F443-490A-997A-61C7B502BFC5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>116B3C55-DEA2-47E5-84C9-F19B82BC8DE4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0906324B-23B7-4B3F-BA96-03498E96CDF6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>97378838-2E11-4B36-825C-6AB0C20B6CF6</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C6C896FB-06B8-4202-A9F9-69A85624E4A0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>16ED97C0-34A0-4679-8780-BE18D0F5A0EB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>62DDE66A-41FC-4456-8F49-01B07D8917CA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1FD5AE22-63A8-404B-930E-0559109290AD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>116B3C55-DEA2-47E5-84C9-F19B82BC8DE4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5B551FCA-1533-40B6-B0D0-477DC9EAF36C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>52EE4E3F-5959-4348-ADDF-1E79147F4771</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5EC3B7C7-9107-4283-A3C8-725408B2B823</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AE634FB0-225A-4D95-AA73-F22249ADE3BC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6084EB9A-E425-4283-B0CD-254329076B2D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0F113547-F4E7-41B5-AE27-8713D3F578A2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>62DDE66A-41FC-4456-8F49-01B07D8917CA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>712FF92D-3960-4CB7-9CBB-022525208456</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>712FF92D-3960-4CB7-9CBB-022525208456</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1085BC0E-A785-4194-A8A8-0C6D27DA0A3C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>97378838-2E11-4B36-825C-6AB0C20B6CF6</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>5B551FCA-1533-40B6-B0D0-477DC9EAF36C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AE634FB0-225A-4D95-AA73-F22249ADE3BC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1FD5AE22-63A8-404B-930E-0559109290AD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BDF626F7-B97D-45A8-B950-1B6550482099</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DBCADFB0-260F-4D37-95F3-5194FD2906C9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C6C896FB-06B8-4202-A9F9-69A85624E4A0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6084EB9A-E425-4283-B0CD-254329076B2D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DBCADFB0-260F-4D37-95F3-5194FD2906C9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5EC3B7C7-9107-4283-A3C8-725408B2B823</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>2F3803E8-CDC6-4377-9172-21BCBE64F906</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>DD93B777-9E75-44E8-A28F-5D140B75B398</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>67BDEB15-6AE8-46CA-B7CA-C2A20FCCDC78</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>04226EA8-2DEB-41F9-B5D1-A22FEF07982F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>40170343-D406-4905-93BF-CF697848AF25</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DD93B777-9E75-44E8-A28F-5D140B75B398</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>16ED97C0-34A0-4679-8780-BE18D0F5A0EB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>liu wei</string>
	<key>description</key>
	<string>View Json data from clipboard</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Json View</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Invalid JSON on clipboard</string>
				<key>title</key>
				<string>Pretty JSON</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>0906324B-23B7-4B3F-BA96-03498E96CDF6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>cd ~/Desktop/ &amp;&amp; pbpaste | vim -R -c 'set syntax=json' -</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>0F113547-F4E7-41B5-AE27-8713D3F578A2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>false</string>
						<key>outputlabel</key>
						<string>END</string>
						<key>uid</key>
						<string>97378838-2E11-4B36-825C-6AB0C20B6CF6</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>{query}</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>116B3C55-DEA2-47E5-84C9-F19B82BC8DE4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>6084EB9A-E425-4283-B0CD-254329076B2D</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>return (the clipboard)</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>5EC3B7C7-9107-4283-A3C8-725408B2B823</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>function run(argv) {
  var query = argv[0];
  var isValid = IsValidJSONString(query);
  return isValid ? query : false;
}

function IsValidJSONString(str) {
    try {
        JSON.parse(str);
    } catch (e) {
        return false;
    }
    return true;
}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>7</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>AE634FB0-225A-4D95-AA73-F22249ADE3BC</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.transform</string>
			<key>uid</key>
			<string>1FD5AE22-63A8-404B-930E-0559109290AD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>function run(argv) {
  var query = JSON.parse(argv[0]);
  var str = JSON.stringify(query, null, 2); // spacing level = 2
  return str;
}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>7</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C6C896FB-06B8-4202-A9F9-69A85624E4A0</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>fixedorder</key>
				<false/>
				<key>items</key>
				<string>[{"imagefile":"9195d326ed410c06c952da5c18ea1123df7745cf.png","title":"Open with Vim","arg":"vim"},{"imagefile":"06678e8004021deadfd0bfdbec51cc6fa7dff4b0.png","title":"Open with Chrome","arg":"html"},{"imagefile":"fb7818ad942602fbb053eb5ec38e1381f2c0fd65.png","title":"Format Json and paste","arg":"paste"}]</string>
				<key>keyword</key>
				<string>json</string>
				<key>matchmode</key>
				<integer>0</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>View Json data from clipboard</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>BDF626F7-B97D-45A8-B950-1B6550482099</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>vim</string>
						<key>outputlabel</key>
						<string></string>
						<key>uid</key>
						<string>2F3803E8-CDC6-4377-9172-21BCBE64F906</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>paste</string>
						<key>outputlabel</key>
						<string></string>
						<key>uid</key>
						<string>67BDEB15-6AE8-46CA-B7CA-C2A20FCCDC78</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>html</string>
						<key>outputlabel</key>
						<string></string>
						<key>uid</key>
						<string>40170343-D406-4905-93BF-CF697848AF25</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>END</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>DBCADFB0-260F-4D37-95F3-5194FD2906C9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>function run(argv) {
  var query = argv[0];
  var isValid = IsValidJSONString(query);
  return isValid ? query : false;
}

function IsValidJSONString(str) {
    try {
        JSON.parse(str);
    } catch (e) {
        return false;
    }
    return true;
}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>7</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>16ED97C0-34A0-4679-8780-BE18D0F5A0EB</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>return (the clipboard)</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>DD93B777-9E75-44E8-A28F-5D140B75B398</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Invalid JSON on clipboard</string>
				<key>title</key>
				<string>Pretty JSON</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>1085BC0E-A785-4194-A8A8-0C6D27DA0A3C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>false</string>
						<key>outputlabel</key>
						<string>END</string>
						<key>uid</key>
						<string>97378838-2E11-4B36-825C-6AB0C20B6CF6</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>{query}</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>712FF92D-3960-4CB7-9CBB-022525208456</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.transform</string>
			<key>uid</key>
			<string>62DDE66A-41FC-4456-8F49-01B07D8917CA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/local/bin/node clipboard_to_json.mjs</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>67B5F8BB-F443-490A-997A-61C7B502BFC5</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>return (the clipboard)</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>04226EA8-2DEB-41F9-B5D1-A22FEF07982F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>52EE4E3F-5959-4348-ADDF-1E79147F4771</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>function run(argv) {
  var query = JSON.parse(argv[0]);
  var str = JSON.stringify(query, null, 2); // spacing level = 2
  return str;
}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>7</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>5B551FCA-1533-40B6-B0D0-477DC9EAF36C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>04226EA8-2DEB-41F9-B5D1-A22FEF07982F</key>
		<dict>
			<key>xpos</key>
			<real>315</real>
			<key>ypos</key>
			<real>615</real>
		</dict>
		<key>0906324B-23B7-4B3F-BA96-03498E96CDF6</key>
		<dict>
			<key>xpos</key>
			<real>900</real>
			<key>ypos</key>
			<real>175</real>
		</dict>
		<key>0F113547-F4E7-41B5-AE27-8713D3F578A2</key>
		<dict>
			<key>xpos</key>
			<real>1300</real>
			<key>ypos</key>
			<real>245</real>
		</dict>
		<key>1085BC0E-A785-4194-A8A8-0C6D27DA0A3C</key>
		<dict>
			<key>xpos</key>
			<real>1050</real>
			<key>ypos</key>
			<real>465</real>
		</dict>
		<key>116B3C55-DEA2-47E5-84C9-F19B82BC8DE4</key>
		<dict>
			<key>xpos</key>
			<real>775</real>
			<key>ypos</key>
			<real>270</real>
		</dict>
		<key>16ED97C0-34A0-4679-8780-BE18D0F5A0EB</key>
		<dict>
			<key>xpos</key>
			<real>555</real>
			<key>ypos</key>
			<real>435</real>
		</dict>
		<key>1FD5AE22-63A8-404B-930E-0559109290AD</key>
		<dict>
			<key>xpos</key>
			<real>665</real>
			<key>ypos</key>
			<real>285</real>
		</dict>
		<key>52EE4E3F-5959-4348-ADDF-1E79147F4771</key>
		<dict>
			<key>xpos</key>
			<real>1235</real>
			<key>ypos</key>
			<real>625</real>
		</dict>
		<key>5B551FCA-1533-40B6-B0D0-477DC9EAF36C</key>
		<dict>
			<key>xpos</key>
			<real>1045</real>
			<key>ypos</key>
			<real>625</real>
		</dict>
		<key>5EC3B7C7-9107-4283-A3C8-725408B2B823</key>
		<dict>
			<key>xpos</key>
			<real>305</real>
			<key>ypos</key>
			<real>270</real>
		</dict>
		<key>6084EB9A-E425-4283-B0CD-254329076B2D</key>
		<dict>
			<key>xpos</key>
			<real>1080</real>
			<key>ypos</key>
			<real>270</real>
		</dict>
		<key>62DDE66A-41FC-4456-8F49-01B07D8917CA</key>
		<dict>
			<key>xpos</key>
			<real>715</real>
			<key>ypos</key>
			<real>575</real>
		</dict>
		<key>67B5F8BB-F443-490A-997A-61C7B502BFC5</key>
		<dict>
			<key>xpos</key>
			<real>490</real>
			<key>ypos</key>
			<real>615</real>
		</dict>
		<key>712FF92D-3960-4CB7-9CBB-022525208456</key>
		<dict>
			<key>xpos</key>
			<real>840</real>
			<key>ypos</key>
			<real>565</real>
		</dict>
		<key>AE634FB0-225A-4D95-AA73-F22249ADE3BC</key>
		<dict>
			<key>xpos</key>
			<real>480</real>
			<key>ypos</key>
			<real>270</real>
		</dict>
		<key>BDF626F7-B97D-45A8-B950-1B6550482099</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>415</real>
		</dict>
		<key>C6C896FB-06B8-4202-A9F9-69A85624E4A0</key>
		<dict>
			<key>xpos</key>
			<real>895</real>
			<key>ypos</key>
			<real>335</real>
		</dict>
		<key>DBCADFB0-260F-4D37-95F3-5194FD2906C9</key>
		<dict>
			<key>xpos</key>
			<real>215</real>
			<key>ypos</key>
			<real>420</real>
		</dict>
		<key>DD93B777-9E75-44E8-A28F-5D140B75B398</key>
		<dict>
			<key>xpos</key>
			<real>345</real>
			<key>ypos</key>
			<real>435</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>webaddress</key>
	<string>https://github.com/liuweicode</string>
</dict>
</plist>
